* {
  border: 1px solid green;
}

#contenedor {
  float: left;
  width: 49%;
  height: 100%;
}

img {
  width: 50%;
  height: 50%;
  display: block;
  margin: auto;
}

.pedido {
  position: relative;
  width: 75%;
  height: 100%;
  margin: 5% 12% 0 12%;
}
