		* {
			margin: 0;
		}
		form {
			width: 50%;
			margin: auto;
			padding: 20px;
			border: 1px hotpink solid;
			border-radius: 20px;
		}
		label {
			display: inline-block;
			width: 100%;
		}
		input{
			display: block;
		}
