<form>
  <fieldset>
  <h1>ELIGE TU BOLSO</h1>

  <!-- RADIO BUTTONS -->
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="bolsos" id="Dalia" value="dalia">
    <label class="form-check-label" for="Dalia">Dalia</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="bolsos" id="Azalea" value="azalea">
    <label class="form-check-label" for="Azalea">Azalea </label>
  </div>
  <br>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="bolsos" id="Margarita" value="margarita">
    <label class="form-check-label" for="Margarita">Margarita</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="bolsos" id="Gitamilla" value="gitamilla">
    <label class="form-check-label" for="Gitamilla">Gitamilla</label>
  </div>
  <br>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="bolsos" id="Crisantemo" value="crisantemo">
    <label class="form-check-label" for="Crisantemo">Crisantemo</label>
  </div>

  <!-- SELECT | OPTION -->
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="tallas">Elige el tamaño del bolso:</label>
      <select id="tallas" class="form-control">
        <option selected>Pequeño</option>
        <option selected>Mediano</option>
        <option selected>Grande</option>
        <option selected>Elige talla...</option>
      </select>
    </div>
  </div>
<!--    <button type="submit" class="btn btn-primary">Calcular precio</button> -->
    <button (click)="calcularPrecios('Gitamilla', 'mediano')" class="btn btn-primary">Calcular precio</button>

<!-- RESULTADO -->
<div class="form-row">
  <div class="form-group col-md-4">
    <p>Precio: {{precio}}€</p>
  </div>
</div>


</fieldset>

</form>
