<form>
  <fieldset>
  <h1>ELIGE TU BOLSO</h1>

  <!-- RADIO BUTTONS -->
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="bolso" id="Dalia" value="dalia">
    <label class="form-check-label" for="Dalia">Dalia</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="bolso" id="Azalea" value="azalea">
    <label class="form-check-label" for="Azalea">Azalea </label>
  </div>
  <br>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="bolso" id="Margarita" value="margarita">
    <label class="form-check-label" for="Margarita">Margarita</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="bolso" id="Gitamilla" value="gitamilla">
    <label class="form-check-label" for="Gitamilla">Gitamilla</label>
  </div>
  <br>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="bolso" id="Crisantemo" value="crisantemo">
    <label class="form-check-label" for="Crisantemo">Crisantemo</label>
  </div>

  <!-- SELECT | OPTION -->
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="talla">Elige el tamaño del bolso:</label>
      <select id="talla" name="talla" class="form-control">
        <option selected value="pequeno" >Pequeño</option>
        <option selected value="mediano" >Mediano</option>
        <option selected value="grande" >Grande</option>
        <option selected>Elige talla...</option>
      </select>
    </div>
  </div>
<!-- RECORRER CON FOR -->
  <select name="talla" id="talla" (change)="capturar()">
    <option *ngFor="let talla of tallas">
      {{talla}}
    </option>
  </select>

<!--    <button type="submit" class="btn btn-primary">Calcular precio</button> -->

<button (click)="calcularPrecios(bolso, talla)" class="btn btn-primary">Calcular precio</button>

<!-- RESULTADO -->
<div class="form-row">
  <div class="form-group col-md-4">
    <p>Precio: {{precio}}{{divisa}}</p>
  </div>
</div>


</fieldset>

</form>
